h1 {
    color: #9124d1;
    font-family: 'Arial', sans-serif;
    text-align: left;
}
button {
    background-color: #9124d1; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}

@keyframes spin {
    from { transform: rotate(0deg);
    }
    to { transform: rotate(360deg);
    }
}

.spin {
  animation: spin 1.2s ease-in-out;
}